<section class="kontakt" id="kontakt">
    <h2 class="kontakt__title kontakt__title--main">Kontakt</h2>
    <h3 class="kontakt__title">Adresa:</h3>
    <p>Patrik Gartner <br>
       Zahradní 246 <br>
       Medlešice
    </p>
    <h3 class="kontakt__title">Telefon:</h3>
    <p>+420 605 456 789</p>

    <h3 class="kontakt__title">E-mail:</h3>
    <a class="kontakt__item" href="zahrady.gartner@seznam.cz">zahrady.gartner@seznam.cz</a>

</section>